@namespace SimpleDesktopApp
@using System
@using Sandbox.UI
@inherits Window
@attribute [StyleSheet("/themes/XGUI/DefaultStyles/ComputerXP.scss")]
@attribute [StyleSheet("BorderImageTest.scss")]

<root title="Border-Image Test (ComputerXP)" hasminimise="true" hasmaximise="true" hasclose="true" windowwidth="600" windowheight="400">
	<div class="window-content">
		<div class="content-panel">
			<h2>Border-Image & Background-Image Test</h2>
			<p>This window demonstrates the border-image and background-image CSS properties using ComputerXP theme assets.</p>
			
			<div class="button-row">
				<button class="button">Normal Button</button>
				<button class="button">Click Me!</button>
				<button class="button">Another Button</button>
			</div>
			
			<div class="info-section">
				<h3>What's Being Tested:</h3>
				<ul>
					<li><strong>Border-Image:</strong> 9-slice rendering of button borders</li>
					<li><strong>Background-Image:</strong> Button background textures</li>
					<li><strong>Hover States:</strong> Buttons change appearance on hover</li>
					<li><strong>Active States:</strong> Buttons show pressed appearance</li>
				</ul>
			</div>
			
			<div class="button-row">
				<button class="test-button-1">Test 1</button>
				<button class="test-button-2">Test 2</button>
				<button class="test-button-3">Test 3</button>
			</div>
		</div>
	</div>
</root>

@code {
}
