@namespace SimpleDesktopApp
@using System;
@using Sandbox;
@using Sandbox.UI;
@* @using XGUI; *@
@attribute [StyleSheet( "/themes/XGUI/DefaultStyles/Computer11.scss" )]
@inherits Window

<root title="XGUI Port Test - Hello World" windowwidth="800" windowheight="600" hasminimise="true" hasmaximise="true">
	Hello, I am a window!
	<button @onclick=@Test>okay</button>
		<tabcontrol>
		<tab tabName="general" slot="tab" tabtext="General">
				<div style="width:300px;height:200px;">
					<sliderscaleentry min=1 max=10 mintext="1.00" maxtext="10.0" step=1>
						
					</sliderscaleentry>
					<sliderscale min=1 max=10 mintext="1.00" maxtext="10.0" step=1>

					</sliderscale>
					<slider min=1 max=10 mintext="1.00" maxtext="10.0" step=1>

					</slider>
					<check>checkbox</check>
					<button >HI!!!</button> 
					<textentry>

					</textentry> 
					<radiobuttons>

					</radiobuttons> 
				</div>
			</tab>
			<tab tabName="video" slot="tab" tabtext="Video">
				<div style="width:300px;height:200px;">

				</div>
			</tab>
			<tab tabName="audio" slot="tab" tabtext="Audio">
				<div style="width:300px;height:200px;">

				</div>
			</tab>
		</tabcontrol>
	<resizer>

	</resizer>
</root>

					
@code{

	private Button ButtonTest;
	void Test()
	{
		Log.Info($"Button Clicked!");
		Console.WriteLine("Button Clicked!");
	}
}