/**
 * Avalazor Default Styles
 * 
 * Provides s&box-compatible defaults to make XGUI themes work correctly.
 * This matches s&box's behavior where everything is flexbox by default.
 */

* {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

/* Text elements should use inline display */
span, label, p, h1, h2, h3, h4, h5, h6 {
    display: inline;
}

/* Images and inputs should not be flex containers by default */
img, input, textarea, select, button {
    display: inline-block;
}
