@import "/XGUI/FunctionStyles/FunctionStyles.scss";

//////////////

$default-text-size: 11px;
$default-text-font: "Tahoma";
$default-text-smooth: never;

$alt-text-font: "Microsoft Sans Serif";

$window-title-text-size: 14px;
$window-title-text-weight: bold;

//////////////

$active-title: #0054E3;
$title-text: #ffffff;
$inactive-title: #7A97DF;
$inactive-title-text: #D8E4F8;

$active-border: #D4D0C8;
$inactive-border: #D4D0C8;

$window: #FFFFFF;
$window-text: #000000;
$window-frame: #000000;

$scrollbar: #C0C0C0;

$menu: #ECE9D8;
$menu-text: #000000;

$app-workspace: #808080;

$info-text: #000000;
$info-window: #FFFFFF;

$highlight: #316AC5;
$highlight-text: #FFFFFF;
$highlight-tint: #98B5E2;

$grey-text: #ACA899;

$button-face: #ECE9D8;
$button-face-alt: #B5B5B5;
$button-shadow: #ACA899;
$button-text: #000000;
$button-highlight: #FFFFFF;
$button-dark-shadow: #716F64;
$button-light: #F1EFE2;

$background: #004F98;

@import "/XGUI/DefaultStyles/BaseStyles/Windows.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+VisualStyleQuirks.scss";

.button:not(.toolbar-button) {
	height: 23px;
}

.button:not(.selector) {
	border-image: url("XGUI/Resources/XP/control.png");
	background-image: url("XGUI/Resources/XP/control_background.png");
	background-size: contain;
	background-position: center;
	border-image-width-left: 5px;
	border-image-width-right: 5px;
	border-image-width-top: 5px;
	border-image-width-bottom: 5px;

	&:hover {
		border-image: url("XGUI/Resources/XP/control_hover.png");
		background-image: url("XGUI/Resources/XP/control_background_hover.png");
		background-color: transparent;
		border-image-width-left: 5px;
		border-image-width-right: 5px;
		border-image-width-top: 5px;
		border-image-width-bottom: 5px;
	}

	&:active {
		border-image: url("XGUI/Resources/XP/control_active.png");
		background-image: url("XGUI/Resources/XP/control_background_active.png");
		border-image-width-left: 5px;
		border-image-width-right: 5px;
		border-image-width-top: 5px;
		border-image-width-bottom: 5px;
	}
}

.Window-Font-Alt {
	font-family: $alt-text-font;
}

.Window {
	border: none;
	background-color: transparent;

	&.unfocused {
		.TitleBar {
			background-color: transparent;


			.Control {
				background: url("XGUI/Resources/XP/title_control_unfocused.png");
			}

			.CloseButton {
				background: url("XGUI/Resources/XP/title_control_close_unfocused.png");
			}

			.TitleBackground {
				border-image: url("XGUI/Resources/XP/title_unfocused.png");
				border-image-width-top: 6px;
				border-image-width-bottom: 6px;
				border-width: 6px;
				border-image-width-right: 33px;
				border-image-width-left: 33px;
				border-right-width: 33px;
				border-left-width: 33px;
				background-image: url("XGUI/Resources/XP/title_bg_unfocused.png");
				background-size: contain;
			}

			.TitleLabel {
				filter: drop-shadow(1px 1px 0px 0px transparent);
			}
		}

		> .window-content {
			border-image: url("XGUI/Resources/XP/window_content_unfocused.png");
			border-image-width-top: 1px;
			border-image-width-left: 5px;
			border-image-width-right: 5px;
			border-image-width-bottom: 5px;
			background-color: $button-face;
			border-width: 5px;
			border-top-width: -1px;
		}
	}

	&.minimised {
		.TitleBar {
			.MinimiseButton {
				> .label {
					content: "";
					background: url("XGUI/Resources/XP/restore_icon.png");
				}
			}
		}
	}

	&.maximised {
		.TitleBar {
			.MaximiseButton {
				> .label {
					content: "";
					background: url("XGUI/Resources/XP/restore_icon.png");
				}
			}
		}
	}

	.TitleBar {
		height: 29px;
		padding: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: transparent;

		.TitleElements {
			padding: 5px;
		}

		.TitleBackground {
			border-image: url("XGUI/Resources/XP/title.png");
			border-image-width-top: 6px;
			border-image-width-bottom: 6px;
			border-width: 6px;
			border-image-width-right: 33px;
			border-image-width-left: 33px;
			border-right-width: 33px;
			border-left-width: 33px;
			background-image: url("XGUI/Resources/XP/title_bg.png");
			background-size: contain;
		}


		.TitleLabel {
			font-family: Tahoma;
			font-smooth: always;
			filter: drop-shadow(1px 1px 0px 0px #0A1883);
		}

		.Control {
			border: none;
			margin-left: 2px;
			width: 21px;
			height: 21px;
			background: url("XGUI/Resources/XP/title_control.png");


			&:hover {
				border: none;
				background: url("XGUI/Resources/XP/title_control_hover.png");
			}

			&:active {
				border: none;
				background: url("XGUI/Resources/XP/title_control_active.png");
			}
		}

		.MinimiseButton {
			> .label {
				background: url("XGUI/Resources/XP/minimise_icon.png");
				background-position: center;
				background-size: cover;
				width: 13px;
				height: 13px;
				background-size: 13px;
				background-repeat: no-repeat;
				content: "";
			}
		}

		.MaximiseButton {
			> .label {
				background: url("XGUI/Resources/XP/maximise_icon.png");
				background-position: center;
				background-size: cover;
				width: 13px;
				height: 13px;
				background-size: 13px;
				background-repeat: no-repeat;
				content: "";
			}
		}

		.CloseButton {
			border: none;
			background: url("XGUI/Resources/XP/title_control_close.png");

			> .label {
				background: url("XGUI/Resources/XP/close_icon.png");
				background-position: center;
				background-size: cover;
				width: 13px;
				height: 13px;
				background-size: 13px;
				background-repeat: no-repeat;
				content: "";
			}

			&:hover {
				border: none;
				background: url("XGUI/Resources/XP/title_control_close_hover.png");
			}

			&:active {
				border: none;
				background: url("XGUI/Resources/XP/title_control_close_active.png");
			}
		}
	}

	> .window-content {
		border-image: url("XGUI/Resources/XP/window_content.png");
		border-image-width-top: 1px;
		border-image-width-left: 5px;
		border-image-width-right: 5px;
		border-image-width-bottom: 5px;
		background-color: $button-face;
		border-width: 5px;
		border-top-width: -1px;
	}
}

.textbox,
.textentry {
	border: 1px solid #7F9DB9;
}


.combobox,
.selector {
	border: 1px solid #7F9DB9;

	> .selector_indicator {
		width: 15px;
		height: 17px;
		border: none;
		background-color: transparent;
		background-image: url("XGUI/Resources/XP/combobox_indicator.png");
		background-position: center;
		background-size: contain;
		margin-right: 1px;
		content: "";
	}
}
.dropdown-panel {
	> .button {
		border: none;
		background-image: none;
		height: 13px;

		&:hover {
			border: none;
			background-image: none;
			background-color: $highlight;
		}
	}
}
.contextmenu {
	background-color: $window;
	border: 1px solid $button-shadow;

	.Menu-Separator {
		border: 0px;
		background-color: $button-shadow;
		height: 1px;
		margin-bottom: 5px;
	}
}

.TabContainer {

	> .tabs {

		> .button {
			height: 19px;
			border-radius: 0px;
			border-image: url("XGUI/Resources/XP/tab.png");
			border-image-width-top: 4px;
			border-image-width-left: 4px;
			border-image-width-right: 4px;
			border-image-width-bottom: 4px;
			border-width: 4px;
			padding-bottom: 0px;
			background: url("XGUI/Resources/XP/tab_bg.png");
			top: 3px;
			padding-right: 3px;
			padding-left: 3px;

			&.active {
				padding-bottom: 2px;
				border-image: url("XGUI/Resources/XP/tab_active.png");
				border-image-width-top: 4px;
				border-image-width-left: 4px;
				border-image-width-right: 4px;
				border-image-width-bottom: 4px;
				border-width: 4px;
				background: url("XGUI/Resources/XP/tab_bg_active.png");
				top: 1px;
				padding-right: 5px;
				padding-left: 5px;
			}
		}
	}



	> .sheets {
		background: linear-gradient(to bottom, #FFFFFF, #F4F3EE);
		border: 1px solid #898C95;
	}
}


.checkbox {
	.checkpanel, iconpanel {
		transition: all 0.15s linear;
		border: none;
		background-image: url("XGUI/Resources/XP/checkbox.png");
		width: 13px;
		height: 13px;
		min-width: 13px;
		min-height: 13px;

		&:hover {
			transition: all 0.15s linear;
			background-image: url("XGUI/Resources/XP/checkbox_hover.png");

			&:active {
				transition: all 0.15s linear;
				background-image: url("XGUI/Resources/XP/checkbox_active.png");
			}
		}
	}

	&.checked {

		> .checkpanel, .iconpanel {
			transition: all 0.15s linear;
			background-image: url("XGUI/Resources/XP/checkbox_checked.png");

			&:hover {
				transition: all 0.15s linear;
				background-image: url("XGUI/Resources/XP/checkbox_checked_hover.png");

				&:active {
					transition: all 0.15s linear;
					background-image: url("XGUI/Resources/XP/checkbox_checked_active.png");
				}
			}

			.checklabel {
				content: "";
			}
		}
	}
}


.radiobutton {

	.checkpanel, iconpanel {
		bottom: 1px;
		transition: all 0.15s linear;
		border: none;
		background-image: url("XGUI/Resources/XP/radiobutton.png");
		width: 13px;
		height: 13px;
		min-width: 13px;
		min-height: 13px;

		> .label {
			display: none;
		}

		&:hover {
			transition: all 0.15s linear;
			background-image: url("XGUI/Resources/XP/radiobutton_hover.png");

			&:active {
				transition: all 0.15s linear;
				background-image: url("XGUI/Resources/XP/radiobutton_active.png");
			}
		}
	}

	&.checked {

		> .checkpanel, .iconpanel {
			transition: all 0.15s linear;
			background-image: url("XGUI/Resources/XP/radiobutton_checked.png");

			&:hover {
				transition: all 0.15s linear;
				background-image: url("XGUI/Resources/XP/radiobutton_checked_hover.png");

				&:active {
					transition: all 0.15s linear;
					background-image: url("XGUI/Resources/XP/radiobutton_checked_active.png");
				}
			}

			.checklabel {
				content: "";
			}
		}
	}
}

.slider {
	> .thumb {
		background-color:transparent;
		width:11px;
		height:21px;
		border: none;
		background-image: url("XGUI/Resources/XP/slider_thumb.png");

		&:hover {
			background-image: url("XGUI/Resources/XP/slider_thumb_hover.png");
		}

		&:active {
			background-image: url("XGUI/Resources/XP/slider_thumb_active.png");
		}
	}
}

.group-box {
	border-radius: 4px;
	border: 1px solid #D0D0BF;

	> .group-box-title {
		color: #0046D5;
	}
}

.toolbar {
	.menu-item {
		height: 18px;
		border: none;
		background-image: none;

		&:hover {
			border: none;
			background-image: none;
			background-color: $highlight;
			color: $highlight-text;
		}

		&:active {
			border: none;
			background-image: none;
		}
	}

	.toolbar-button {
		border: none;
		background-image: none;

		&:hover {
			border: none;
			background-image: none;
		}

		&:active {
			border: none;
			background-image: none;
		}
	}

	.toolbar-split-button {
		&:hover {
			.toolbar-button {
				border: none;
				background-image: none;
			}
		}

		.toolbar-button {
			border: none;
			background-image: none;

			&:hover {
				border: none;
				background-image: none;
			}

			&:active {
				border: none;
				background-image: none;
			}
		}
	}
}
