
.checkbox {
	align-items: center;

	> .label {
		text-overflow: ellipsis;
		flex-grow: 1;
	}

	.checkpanel, iconpanel {
		border-top: 1px solid $button-shadow;
		border-left: 1px solid $button-shadow;
		border-bottom: 1px solid $button-highlight;
		border-right: 1px solid $button-highlight;
		background-color: $window;
		width: 11px;
		height: 11px;
		margin-right: 6px;
		align-items: center;
		justify-content: center;
	}


	&.checked {

		> .checkpanel, .iconpanel {
			background-color: $window;

			.checklabel {
				font-family: Marlett;
				font-size: 16px;
				color: black;
				text-align: center;
				margin-left: 1px;
			}
		}

		> .checkmark {
			//color: $primary-alt;
			color: white;
			background-color: transparent;
		}
	}

	&.disabled {
		pointer-events: none;

		> .checkpanel, .iconpanel {
			background-color: $button-face;
		}

		> label {
			color: $grey-text;
		}
	}
}
